<html>

<head>
    <title>
        <%= locals.title %>
    </title>
    <script src="https://kit.fontawesome.com/201d45f558.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contacts List
    </h1>

    <div id="contact-container">
        <ul>
            <% for( let i of contact_list) { %>
                <li id="list-item">
                    <div id="details">
                        <p id="name">
                            <%= i.name %>
                        </p>
                        <p id="phone">
                            <%= i.phone %>
                        </p>
                    </div>
                    <div id="delete">
                        <a href="/delete-contact/?id=<%= i._id %> ">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>

                </li>
                <% } %>
        </ul>
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter contact number" required>

        <button type="submit">Add Contact</button>
    </form>
    <script type="text/javascript" src="js/home.js"></script>
</body>

</html>